  <div class="tp-banner-container">
    <div class="tp-banner" id="home" >
      <ul class="home-banner">
      
         <li data-transition="fade" data-slotamount="5" data-masterspeed="700" > 
      <%= image_tag("banner-heading.png", :alt=>"slidebg1", :class=>"banner_header", data: { bgfit: "cover", bgposition: "center center", bgrepeat: "no-repeat"  } )%>
		<%= image_tag("banner-concept.png", :alt=>"slidebg1", :class=>"banner_concept", data: { bgfit: "cover", bgposition: "center center", bgrepeat: "no-repeat"  } )%>
	</li> 
      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
</div>
<div class="section ">
  <div class="container">
    <div class="p-t-40 p-b-40">
      <h2 class="text-center">Smoother <span class="semi-bold">operations</span> by <span class="semi-bold">collaboration</span> in <span class="semi-bold">cloud</span>
		<%#= link_to 'Signup for free', signin_path, :class=>"btn btn-success btn-lg  btn-large m-r-10 "%>
		 </h2>
    </div>
  </div>
</div>


<div class="section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide" >
  <div class="container">
    <div class="p-t-20">
      <div class="row">
        <div class="col-md-12 feature-list ">
          <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="300">
            <h4 class="title">INFORMATIVE DASHBOARD</h4>
            <p> The dashboard is designed to give complete picture of an organisation. Cool design elements gives quick overview of all information that you want to see. </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
            <h4 class="title">THIRD PARTY INTEGRATIONS</h4>
            <p> Are you using GitHub, FreshBooks and Basecamp? Dont worry! magnifi is integrated with these systems. you can still use these systems and share the data with Magnifi or you can import the data from these system. </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
            <h4 class="title">QUICK DRILL DOWN REPORTS</h4>
            <p> Magnifi acts like MIS system for you. It provides very easy way to prepare different reports on your data and ability to download. </p>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 feature-list">
          <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="1200">
            <h4 class="title">ACCESS RIGHTS MANAGEMENT</h4>
            <p> A comprehensive access rights management gives you ability to allow/disallow any features for different roles or people. </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1500">
            <h4 class="title">SECURE CLOUD SOLUTION</h4>
            <p> Your data is secure on our private cloud servers with Amazon. We assure 99% uptime with great scalability over cloud. </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1800">
            <h4 class="title">YOUR OWN DOMAIN, YOUR OWN DATA</h4>
            <p> You can host Magnifi under your own domain. Hesitant to host the data on cloud? Dont worry we will help you host data on your data center or private cloud </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="section relative">
        <div class="row centerAlign"> 
		    <%= image_tag("Screenshot_2new.jpg", :class=>"resize", data: { ride: "animated", animation: "fadeInUp", delay: "300"  } )%>
		 
	  <%#= image_tag("phone.png", :style=>"right:9%", :class=>"resize p-t-60 col-md-2 push-bottom hidden-sm hidden-xs visible-lg visible-md", data: { ride: "animated", animation: "fadeInRight", delay: "600"  } )%>
	  </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>