<div id="resources-allocate" class="tab-contentblock content-resource tab-pane">
	<%=render 'resource_advanced_search', :@res_tab_type=>"resources-allocate"%>
    <span class="resources-allocate"><%=render 'resource_info'%></span>
</div>
