<div id="tab-branch" class="tab-contentblock content-resource tab-pane  fade in active">
	<%=render 'resource_advanced_search', :@res_tab_type=>"tab-branch"%>
   <span class="tab-branch"><%=render 'resource_info'%></span>
</div>				

<script type='text/javascript'>
//var tech_search = "<%#=url_for(:controller=>'users',:action=>'experience_user_info')%>"
</script>