<div id="fix-cost" class="tab-contentblock content-resource tab-pane">
	<%=render 'resource_advanced_search', :@res_tab_type=>"fix-cost"%>
    <span class="fix-cost"><%=render 'resource_info'%></span>
</div>