<div id="team-manage" class="tab-contentblock content-resource tab-pane">
	<%=render 'resource_advanced_search', :@res_tab_type=>"team-manage"%>
    <span class="team-manage"><%=render 'resource_info'%></span>
</div>
