<div id="resources-billable" class="tab-contentblock content-resource tab-pane">
	<%=render 'resource_advanced_search', :@res_tab_type=>"resources-billable"%>
    <span class="resources-billable"><%=render 'resource_info'%></span>
</div>