	<ul class="breadcrumb">
    <li>
        <p>YOU ARE HERE</p>
    </li>
   <!-- <li><span class="prev-link" data-no-turbolink></span></li> -->
    <li><span class="active"> Dashboard</span></li>
</ul>

<div class="page-title">
<h3>Dashboard </h3>
</div>

<ul class="nav-justified project-detail">
		<li>
    		<div class="bluebg">
            	<p>Invoice to raise</p>
            	<h2>2.0</h2>
        	</div>
    	</li>
    	<li>
    		<div class="greenbg">
            	<p>Bench Resources</p>
            	<h2>2</h2>
        	</div>
    	</li>
    	<li>
    		<div class="pinkbg">
            	<p>Off Tracked Projects</p>
            	<h2>0</h2>
        	</div>
    	</li>
    	<li>
    		<div class="brownbg">
            	<p>Missed Milestones</p>
            	<h2>0</h2>
        	</div>
    	</li>
    	<li>
    		<div class="purplebg">
            	<p>Missed Timesheets</p>
            	<h2>0</h2>
        	</div>
    	</li>
	</ul>


<div class="row dash-activity">
	<div class="col-md-7 single-colored-widget">
		<div class="dashboard-activities">
			<div class="heading"><h3>Activities</h3></div>
				<div class="activity-list">

					<div class="notification-messages info">
						<div class="message-wrapper">
							<p><a href="javscript:void(0);">Prashant Gurav</a> has updated <a href="javscript:void(0);">milstone (M3)</a> dadeline date for project <a href="javscript:void(0);">JuBee</a> its getting delayed now see the <a href="javscript:void(0);">reason</a>
							</p>
						</div>
						<div class="date pull-right">
							Just now
						</div>
					</div>

					<div class="notification-messages info">
						<div class="message-wrapper">
							<p><a href="javscript:void(0);">Prashant Gurav</a> has updated <a href="javscript:void(0);">milstone (M3)</a> dadeline date for project <a href="javscript:void(0);">JuBee</a> its getting delayed now see the <a href="javscript:void(0);">reason</a>
							</p>
						</div>
						<div class="date pull-right">
							Just now
						</div>
					</div>

				</div>
			</div>
		</div>
	<div class="col-md-5 single-colored-widget">
		<div class=" dashboard-actions">
			<div class="heading"><h3>Actions<h3></div>
			<div class="activity-list">

					<div class="notification-messages info">
						<div class="message-wrapper">
							<p>Submit the timesheet for <a href="javscript:void(0);">2nd Jan</a> 
							</p>
						</div>
						<div class="date pull-right">
							Just now
						</div>
						<div class="take-action"><a href="javascript:void(0);">Take action</a></div>
					</div>

					

				</div>
		</div>
	</div>
</div>	

<!-- <h1>Dashboard</h1>
<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-12 col-sm-9">
		
		<div class="left-div">
			<h4> My Projects </h4> 
			<ul>
				<%#= @projects.each do |project| %>	
					<%#= if project.project_manager == current_user %>
						<li><%#= link_to project.title, project %></li>
					<%#= end %>
				<%#= end %>
			</ul>
		</div>
		
		<div class="right-div">	
			<h4> Subscribed Projects </h4>
			<ul>
				<%#= @projects.each do |project| %>	
					<%#= if project.project_manager != current_user %>
						<li><%#= link_to project.title, project %></li>
					<%#= end %>
				<%#= end %>
			</ul>
		</div>
	</div>	
	<%#=render :partial=>'shared/raise_invoice'%>		
  </div>
</div>		 -->

