<div class = "user_state_code_wrapper">
	<% country ||= params[:country] %>
  	<% sub_region ||= params[:sub_region] %>
  	<% country_val = Carmen::Country.coded(country.blank? ? "US" : country) %>

  	<% if country_val.nil? %>
    	<em>Please select a country above</em>
  	<% elsif country_val.subregions? %>
    	<%= subregion_select :order, :state, country_val.blank? ? "US" : country_val, {:selected=>sub_region}, :class => "state_select" %>
  	<% else %>
    	<%= text_field(:order, :state) %>
  	<% end %>
</div>
