
<ul class="breadcrumb">
    <li>
        <p>YOU ARE HERE</p>
    </li>
    <li><span class="prev-link" data-no-turbolink><%= link_to 'Client Listing'.html_safe, clients_path %></span></li>
    <li><span class="active"> Add Client</span></li>
</ul>

<%= render 'form' %>
