
<%= f.label :name, 'Department Name', :class => "form-label" %>
<!-- <span class="help">e.g. "Human Resource"</span>  -->
<div class="input-with-icon  right">                                       
	<i class=""></i>
	<%= f.text_field :name, :autofocus => true, :class => "form-control", :required => true %>
</div>
  
<script type="text/javascript">
	$(function($){
		showHideMenu('li_administration');
	   });
</script>
  
  