<fieldset>
	<div class="form-row form-group">
		<div class="row">
    		<div class="col-md-12">
	    		<%= f.file_field :files, :class=>"form-control"%>
				<%=f.hidden_field :_destroy%>
				<%=link_to "Remove", '#', :class => 'remove_fields'%>
 			</div>
		</div>
	</div>
</fieldset>

  