@charset "utf-8";
/* CSS Document */

/* Resources */
.tab-block {overflow:hidden}

.nav-tabs.resources-maintab {background:none; border:none; display:table}
.nav-tabs.resources-maintab li {text-align:center; color:#fff; cursor:pointer; padding:0 8px}
.nav-tabs.resources-maintab li:first-child {padding-left:0;}
.nav-tabs.nav-justified.resources-maintab > li {width:210px}
.nav-tabs.resources-maintab li div {padding:10px; min-height:145px; position:relative}
.nav-tabs.resources-maintab li div a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}
.nav-tabs.resources-maintab li:last-child {padding-right:0}
.nav-tabs.resources-maintab li h2 {color:#fff; font-size:22px; line-height:22px}
.nav-tabs.resources-maintab li h2 span {font-family:'Open Sans'; font-size:15px; font-weight:normal; vertical-align:middle; color:#ccd4d7}
.nav-tabs.resources-maintab li .tab-title {font-size:15px; text-transform:capitalize; font-family:'Open Sans'}
.nav-tabs.resources-maintab li .tab-title a {position:relative; color:#fff;}
.nav-tabs.resources-maintab li.billable-res div {background:#0090d9}
.nav-tabs.resources-maintab li.allocate-res div {background:#736086}
.nav-tabs.resources-maintab li.team-mangmnt div {background:#0aa699}
.nav-tabs.resources-maintab li.fixcost div {background:#f35958}
.nav-tabs.resources-maintab li.bench div {background:#ae3f3f}
.nav-tabs.resources-maintab li.billable-res h2 {font-size:40px; line-height:50px}
.nav-tabs.resources-maintab li.select div {min-height:160px}

.resource-block .tab-content {background:none}
.resources-allocate .tab-contentblock.content-resource {background:#736086}
.team-manage .tab-contentblock.content-resource {background:#0AA699}
.fix-cost .tab-contentblock.content-resource {background:#F35958}
.tab-branch .tab-contentblock.content-resource {background:#AE3F3F}

.tab-contentblock {margin:0}
.resources-billable .tab-contentblock.content-resource {background:#0090d9}
.tab-contentblock .tab-content {margin:0}
.nav-tabs.technology-tab {background:#0090d9; border:none; height:40px}
.nav-tabs.technology-tab li {margin:5px 5px 0}
.nav-tabs.technology-tab li a {color:#fff; background:#3374b9; display:block; padding:0 20px; font-family:'Open Sans'; border-radius:0; text-align:center; height:30px; line-height:28px; box-shadow:none}
.nav-tabs.technology-tab li a:hover,.nav-tabs.technology-tab li a:focus,.nav-tabs.technology-tab li.active a,.nav-tabs.technology-tab li.active:hover a,.nav-tabs.technology-tab li.active a:focus {background:#fff; color:#333843; box-shadow:none; border-radius:0}
.nav-tabs.technology-tab li.active a {height:35px}

.resources-allocate .nav-tabs.technology-tab {background:#736086}
.resources-allocate .nav-tabs.technology-tab li a {background:#624a79 }
.resources-allocate .nav-tabs.technology-tab li a:hover,.resources-allocate .nav-tabs.technology-tab li.active a {background:#fff}
.team-manage .nav-tabs.technology-tab {background:#0AA699}
.team-manage .nav-tabs.technology-tab li a {background:#12958a}
.team-manage .nav-tabs.technology-tab li a:hover,.team-manage .nav-tabs.technology-tab li.active a {background:#fff}
.fix-cost .nav-tabs.technology-tab {background:#F35958}
.fix-cost .nav-tabs.technology-tab li a {background:#e34e4d}
.fix-cost .nav-tabs.technology-tab li a:hover,.fix-cost .nav-tabs.technology-tab li.active a {background:#fff}
.tab-branch .nav-tabs.technology-tab {background:#AE3F3F}
.tab-branch .nav-tabs.technology-tab li a {background:#9E2F2F}
.tab-branch .nav-tabs.technology-tab li a:hover,.tab-branch .nav-tabs.technology-tab li.active a {background:#fff}

.tech-content {background:#fff; position:relative; padding:15px}
.tech-content .tab-content {overflow:visible}
.search-block {margin-bottom:20px}
.adv-search {float:right; width:127px; margin:0 -15px 0 20px; position:relative}
.adv-search.resource-advsearch {position:absolute; right:15px; top:55px; z-index:100;}
.adv-search a {background:url(adv_searchbg.png) 0 0 no-repeat; width:127px; height:27px; line-height:27px; color:#fff; display:block; font-family:Open Sans; font-size:12px; text-indent:25px; text-transform:capitalize}
.adv-search a:hover,.adv-search a:focus {color:#fff}
.search-field {float:right}
.search-field input[type=text] {font-family:Open Sans; font-weight:normal; font-size:14px}

#tabContainer .tab-content > .active {padding:20px 0 0;}

.advsearch-block {background:#fff; margin:0 0 20px; padding:15px; display:none; clear:both}
ul.tecno-list {margin:0; padding:0; list-style:none}
ul.tecno-list li {margin-bottom:5px; font-size:14px; font-family:Open Sans;}
ul.tecno-list li label {font-weight:normal}
ul.tecno-list li input[type=checkbox] {margin-right:5px}
ul.tecno-list li input[type=text],ul.tecno-list li input[type=password],ul.tecno-list li input[type=email],ul.tecno-list li select {width:100%;}
ul.tecno-list li .slider {margin-top:15px;}
ul.tecno-list.proj-advsearch li select {height:37px !important;}
ul.tecno-list li .error {font-size:11px; text-transform:initial;}
ul.tecno-list label{font-weight: normal;font-size: 14px;font-family: Open Sans;text-transform: uppercase;}
.capital_label{font-weight: normal;font-size: 14px;font-family: Open Sans;text-transform: uppercase;}
.select-exp {margin-bottom:20px; overflow:hidden}
.select-exp select {color:#505458; width:100%; height:auto; padding:5px 5px 5px 10px; font-size:15px; margin-right:5px; font-family:Open Sans}
.select-exp input[type=text] {width:100%; font-family:Open Sans}
.select-exp .col-md-6 {padding:0 5px 0 0;}
.select-exp .error {line-height:normal;}
ul.tecno-list li #id_from_joining_date,ul.tecno-list li #id_end_joining_date {width:185px;}
ul.tecno-list.emp-advsearch li {margin-bottom:10px;}

/*ul.tecno-list.status li {text-transform:inherit}*/
.advsearch-block input[type=button] {font-family:Open Sans}

.user-technolist .table th {font-family:Open Sans; font-weight:bold}
.user-technolist .table td.brdnone {border:none}
.user-technolist .table td {font-family:Open Sans; text-transform:capitalize; vertical-align:middle}
.user-technolist .table td a:last-child {font-weight:bold; display: block; float: left; width: 110px; padding-top: 18px}
.user-technolist .table td a.user-photo {display:block}
.user-technolist .table td a.user-photo span {display:inline-block; height:45px; width:45px; position:relative; overflow:hidden; border-radius:45px; text-align:center; vertical-align:middle; margin-right:10px}
.user-technolist .table td a.user-photo span img {width:45px;}

.client-photo img {width:180px;}

.user-counter {background:url(counter_bg.png) -20px 0 no-repeat; width:127px; height:27px; line-height:27px; color:#fff; display:block; font-family:Open Sans; font-size:12px; text-indent:10px; text-transform:uppercase; margin-left:-27px}

.dashboard-img {display:block; float: left; position:relative; height:60px; width:60px; border-radius:60px; overflow:hidden; margin:0 10px 0 ;}
.dashboard-img img {width:60px; min-height: 60px;}
.gradeX .employee-name{text-align: center;}
.show-page-img {width:128px;}

select[multiple] {padding:10px;}

